<div>
  <h1>Welcome to Angular App Deployment in Azure</h1>
  <div id="imageDiv">
    <img src="assets/images/Azure1.jpeg" class="my_image" />
    <img src="assets/images/Azure2.jpeg" class="my_image" />
  </div>
  <div>
    <h3>
      Microsoft Azure Computer Application Description
    </h3>

    <h4>
      Microsoft Azure, commonly referred to as Azure, is a cloud computing
      service created by Microsoft for building, testing, deploying, and
      managing applications and services through Microsoft-managed data centers.
    </h4>
  </div>
</div>
